{# @var craft \craft\web\twig\variables\CraftVariable #}
<amp-sidebar id="sidebar1" layout="nodisplay">
    <ul class="nav-amp">
        <li></li>
        <li><a class="nav-link" href="">Blog</a></li>
    </ul>
</amp-sidebar>
<header>
    <div id="nav-menu">
        <nav>
            <div class="nav-menu">
                <div id="nav-icon" on="tap:sidebar1.toggle" role="nav" tabindex=0>
                </div>
            </div>
        </nav>
    </div>
</header>
