{% extends "_layouts/generic-page-layout.twig" %}

{% block headLinks %}
    {{ parent() }}
    <link rel="amphtml" href="{{ siteUrl('/amp') }}">
{% endblock headLinks %}

{% block content %}
    <section>
        <h1>content</h1>
        <div id="test-container"></div>
        <div class="js-gallery  main-carousel my-10">
            <div class="carousel-cell  w-4/5  h-64  py-16  rounded-xl  text-xl  font-semibold  bg-white  m-2  text-center">Slide 1</div>
            <div class="carousel-cell  w-4/5  h-64  py-16  rounded-xl  text-xl  font-semibold  bg-white  m-2  text-center">Slide 2</div>
            <div class="carousel-cell  w-4/5  h-64  py-16  rounded-xl  text-xl  font-semibold  bg-white  m-2  text-center">Slide 3</div>
            <div class="carousel-cell  w-4/5  h-64  py-16  rounded-xl  text-xl  font-semibold  bg-white  m-2  text-center">Slide 4</div>
        </div>
    </section>
{% endblock %}

{% block subcontent %}
    <section>
        <h2>subcontent</h2>
    </section>
{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
    {{ parent() }}
{% endblock bodyJs %}
