<amp-sidebar id='sidebar1' layout='nodisplay' class="">
    <h2>navbar</h2>
    <ul class="nav-amp">
        <li>
            <a href="#" class="navbar-link">
                Menu
            </a>
        </li>
    </ul>
</amp-sidebar>
