{# @var craft \craft\web\twig\variables\CraftVariable #}
{% minify %}
{% set baseUrl = alias('@baseUrl') ~ '/' %}
{% set staticAssetsVersion = craft.app.config.general.custom.staticAssetsVersion %}
{% header "Link: <#{baseUrl}>; rel=dns-prefetch;,<#{baseUrl}>; rel=preconnect; crossorigin;" %}
<!DOCTYPE html>
<html ⚡ lang="{{ craft.app.language |slice(0,2) }}" class="fonts-loaded">
    <head>
        <script async custom-element="amp-analytics"
        src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async src="https://cdn.ampproject.org/v0.js"></script>
    
        {% import "_partials/_macros.twig" as macro %}
        {% include "_partials/_global_header.twig" %}
    
        {% block _head_links %}
        {% endblock %}
    
        <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
        
        {# -- CRITICAL CSS -- #}
        <style amp-custom>
        {% block _inline_css %}
        {% endblock %}
        
        {# -- Site fonts -- #}
        {% include "_inlinecss/_site_fonts.css" %}
        </style>
        
    </head>
    
    <body>
        <div id="page-container">
            {% include "_partials/_amp_navbar.twig" %}
        
            <main>
            {% block content %}
            {% endblock %}
            </main>
        
            {% block subcontent %}
            {% endblock %}
        
            {% include "_partials/_amp_info_footer.twig" %}
            
            {% include "_partials/_global_footer.twig" %}
            
        </div>
        
        {% block analytics %}
        <amp-analytics type="googleanalytics" id="analytics2">
            <script type="application/json">
            {
              "vars": {
                "account": "XXXXXXX"
              },
              "triggers": {
                "trackPageviewWithAmpdocUrl": {
                  "on": "visible",
                  "request": "pageview",
                  "vars": {
                    "title": "{{ seomaticMeta.seoTitle }}",
                    "ampdocUrl": "{{ craft.request.url }}"
                  }
                }
              }
            }
            </script>
        </amp-analytics>
        {% endblock %}
    
    </body>
</html>
{% endminify %}
