{# @var craft \craft\web\twig\variables\CraftVariable #}
{% set entry = craft.entries.section("serviceUnavailable").limit(1).one() %}

{% extends "_layouts/_layout.twig" %}

{% block _inline_css %}
    <style>
        {{ source ("503_critical.min.css", ignore_missing = true) }}
    </style>
{% endblock %}

{% block content %}
    
    <section>
        <div>
            <p>
                503 Service Unavailable
            </p>
        </div>
    </section>

{% endblock %}

{% block _inline_js %}
{% endblock %}
